
.vscode

# CACHE
__pycache__

# ENV
*env

# Advanced Installer files
*.aip
*-cache
*-SetupFiles

# Pyinstaller Files
build
dist
*.spec


*_rc.py

# Secrets
KonnectedReverseRaffleSoftware_accessKeys.csv

_config.json

# Onedrive
*-DESKTOP-*

db.sqlite3

admin_conf.pkl
# Archives
*.zip
# Logs
*.log