
.vscode

# CACHE
__pycache__

# ENV
*env

# Advanced Installer files
*.aip
*-cache
*-SetupFiles

# Pyinstaller Files
build
dist
*.spec


*_rc.py

# Django 
Alaudin's Application
reverseRaffle
manage.py

# Secrets
KonnectedReverseRaffleSoftware_accessKeys.csv